.titulo {
    font-size: 36px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin: 20px 0; /* Margen superior e inferior */
    font-family: Arial, sans-serif; /* Fuente */
    text-transform: uppercase; /* Transformar el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
}

body {
    margin-top: 20px;     /* Margen superior */
    margin-bottom: 20px;  /* Margen inferior */
    margin-left: 80px;    /* Margen izquierdo */
    margin-right: 80px;   /* Margen derecho */
    background-color:hsl(347, 79%, 16%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.me {
    border-radius: 50%; /* Hace la imagen redonda */
    width: 100%; /* Ajusta al ancho del contenedor */
    max-width: 300px; /* Tamaño máximo responsivo */
    height: auto; /* Mantiene la proporción natural */
    aspect-ratio: 1 / 1; /* Asegura que siempre sea un cuadrado */
    object-fit: cover; /* Ajusta el contenido sin deformar */
    display: block; /* Elimina márgenes no deseados en imágenes en línea */
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
    border: 10px solid gold; /* Margen negro */
}

.hobbies-container {
    display: flex;
    flex-direction: column; /* Cada hobby se organiza en una fila */
    gap: 1.5rem; /* Espaciado entre las filas */
}

.hobby-item {
    display: flex; /* Alinea la imagen y el texto en una fila */
    gap: 20px; /* Añade espacio entre la imagen y el texto */
    margin-bottom: 20px; /* Espaciado entre cada hobby-item */
    margin-top: 20px;
}

.hobby-image {
    flex: 1; /* Asegura que la columna de la imagen ocupe una parte proporcional */
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente la imagen */
    align-items: center; /* Centra verticalmente la imagen */
}

.hobby-image img {
    width: 150px; /* Tamaño más grande para la imagen */
    height: 150px;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 50%; /* Hace la imagen circular */
}


.hobby-text {
    flex: 1; /* Asegura que la columna del texto ocupe una parte proporcional */
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente el texto */
    align-items: center; /* Centra verticalmente el texto */
    /* Tamaño más grande del texto */
    text-align: center; /* Centra el texto */
    color: #333; /* Color del texto */
}
footer{
    color: white;
}





  


  ul.custom-bullets li {
    list-style-type: disc; 
    color: black; 
}


.accordion-body {
    overflow-x: auto;
    word-wrap: break-word;
}

.simple-table {
    width: 100%;
    table-layout: fixed;
}

.simple-table td {
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    padding: 8px;
}


