.titulo {
    font-size: 36px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin: 20px 0; /* Margen superior e inferior */
    font-family: Arial, sans-serif; /* Fuente */
    text-transform: uppercase; /* Transformar el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
}

body {
    margin-top: 20px;     /* Margen superior */
    margin-bottom: 20px;  /* Margen inferior */
    margin-left: 80px;    /* Margen izquierdo */
    margin-right: 80px;   /* Margen derecho */
    background-color:rgb(112, 172, 171);
}
.me {
    border-radius: 50%; /* Hace la imagen redonda */
    width: 100%; /* Ajusta al ancho del contenedor */
    max-width: 300px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción correcta */
    object-fit: cover; /* Asegura que el contenido no se distorsione */
    display: block; /* Elimina márgenes no deseados en imágenes en línea */
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 180px; 
    height: 180px; 
    border-radius: 50%; /* Mantiene la forma circular */
    object-fit: cover; /* Hace que la imagen cubra el contenedor sin distorsionarse */
    display: block; /* Elimina los márgenes no deseados en imágenes en línea */
}
@media (max-width: 768px) {
    .image {
      width: 150px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
      height: 150px;
    }
  }
  

.list-group-item {
    background-color: rgb(112, 172, 171);
    
    
  }
  ul.custom-bullets li {
    list-style-type: disc; 
    color: black; 
}

.container-hobbies {
    display: flex;
    flex-wrap: wrap;
}

.simple-table {
    width: 100%;
    border-collapse: collapse; 
    margin: 0 auto; 
}

.simple-table td {
    padding: 15px; 
    text-align: center; 
}






.accordion-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.accordion-body {
    overflow-x: auto;
    word-wrap: break-word;
}

.simple-table {
    width: 100%;
    table-layout: fixed;
}

.simple-table td {
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    padding: 8px;
}


