.titulo {
    font-size: 36px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin: 20px 0; /* Margen superior e inferior */
    font-family: Arial, sans-serif; /* Fuente */
    text-transform: uppercase; /* Transformar el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
}

body {
    margin-top: 20px;     /* Margen superior */
    margin-bottom: 20px;  /* Margen inferior */
    margin-left: 80px;    /* Margen izquierdo */
    margin-right: 80px;   /* Margen derecho */
    background-color:rgb(112, 172, 171);
}
.me{
    border-radius: 50%;
}

.list-group-item {
    background-color: rgb(112, 172, 171);
    
    
  }
  ul.custom-bullets li {
    list-style-type: disc; 
    color: black; 
}

.container-hobbies {
    display: flex;
    flex-wrap: wrap;
}

.simple-table {
    width: 100%;
    border-collapse: collapse; 
    margin: 0 auto; 
}

.simple-table td {
    padding: 15px; 
    text-align: center; 
}

.image {
    width: 180px; 
    height: 180px; 
    border-radius: 50%; 
    margin: 5px; 
    object-fit: cover; 
}

